#!/bin/bash

# Merge custom XResource
xrdb -I "${HOME}/.XResources"

# Custom Keymappings
xmodmap $HOME/.xmodmap

# Start URXVT emulator daemon
# urxvtd -q -f -o &

# Compton (Composite manager...Enter the league of shadows!!)
# compton -b --config $HOME/.config/compton.conf &
